{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block container %}


<div class="container">

    <main>
     
  
      <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
          {% if message %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            
          </div>
          {% endif %}
          <a href="/tech/addtest" class="btn btn-primary">Add test</a>
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Manage test</h4>
          
            {% for i in test %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <a href="/tech/edittest/{{i.id}}" class="btn btn-primary">Edit</a>
                    <a href="/tech/delecttest/{{i.id}}" class="btn btn-primary">delect</a>
                </div>
            </div>
            <br>
            {% endfor %}

           
          
          </div>
        </div>
      </div>
    </main>
  
    
  </div>
  {% endblock container %}