{% extends 'user/index.html' %}
{% block content %}

  <div class="modal modal-tour position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalTour">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-6 shadow">
        <div class="modal-body p-5">
          <ul class="d-grid gap-4 my-5 list-unstyled">
            <li class="d-flex gap-4">
              <svg class="bi text-muted flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"/></svg>
              <div>
                <h1 class="mb-0">{{i.test.name}}</h1>
              </div>
            </li>
            <li class="d-flex gap-4">
              <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"/></svg>
              <div>
                <h5 class="mb-0"> ₹{{i.test.cost}}</h5>
                
              </div>
            </li>
            <li class="d-flex gap-4">
              <svg class="bi text-primary flex-shrink-0" width="48" height="48"><use xlink:href="#film"/></svg>
              <div>
                {% if approve %}
                <h5 class="mb-0">token:{{i.token}}</h5>
                {% else %}
                <h5 class="mb-0 text-primary">pending</h5>
                {% endif %}
              
              </div>
            </li>
          </ul>
         
        </div>
      </div>
    </div>
  </div>

{% endblock content %}